@model MvcHotel.Models.Admin

<div class="left__admin">
    <div class="left__admin__pic" style="background:url(@Html.DisplayFor(model => model.Apic)); background-size:cover;"></div>
    <div class="left__admin__name">@Html.DisplayFor(model => model.Aname)</div>
    <div class="left__admin__down">@Html.DisplayFor(model => model.Atel)</div>
</div>
}
