<!-- Footer Area Start -->
<div><a class="fas fa-angle-double-up backToTop" href="#cd-navigation"></a></div>
<div class="clearfix"></div>
<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="col-md-4 logo">
                <img src="../../images/logo.png" />
            </div>
            <div class="col-md-4">
                <h3>酒店地址</h3>
                <div class="ftr-address">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>江苏省镇江市梦溪路2号</p>
                </div>
                <div class="ftr-address">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>+86 0511-84401015</p>
                </div>
                <div class="ftr-address">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p><a href="mailto:justhotel@163.com">justhotel@163.com</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <h3>联系我们</h3>
                <div class="ftr-contact"><a href="#"><i class="fab fa-weibo"></i>新浪微博</a></div>
                <div class="ftr-contact"><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></div>
                <div class="ftr-contact"><a href="#"><i class="fab fa-twitter"></i>Twitter</a></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="copyrights">
        <p>Copyright &copy; 2018.JUST Hotel All rights reserved.</p>
    </div>
</footer>
<!-- Footer Area End -->
