<div class="slide">
    <ul>
        <li data-bg="../../images/r01.jpg"></li>
        <li data-bg="../../images/r02.jpg"></li>
        <li data-bg="../../images/r03.jpg"></li>
        <li data-bg="../../images/r04.jpg"></li>
        <li data-bg="../../images/r05.jpg"></li>
    </ul>
</div>
<script type="text/javascript">
      $(function() {
        $('.slide').slide({
          'slideSpeed': 6000,
          'isShowArrow': true,
          'dotsEvent': 'mouseenter',
          'isLoadAllImgs': true
        });
      });
</script>
